.client {
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
  }
}

.client__title {
  margin-bottom: 50px;
}

.client__list {
  display: flex;
}

.client__item:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  color: $icon-primary-color;
  transition: border-color $time $cubic, color $time $cubic;

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid $icon-primary-color;
  border-radius: 4px;
}

.client__icon {
  fill: currentColor;
}
