.customers {
  &__title {
    @extend %title;
  }
}

.customers__title {
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.customers__list {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.customers__item {
  @media screen and (max-width: 767px) {
    width: calc((100% - 2 * 15px) / 2);
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 3);
  }

  &:nth-child(-n + 4) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  &:nth-child(-n + 3) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 30px;
    }
  }

  &:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }
}

.customers__link {
  color: $icon-primary-color;
  transition: border-color $duration $timing-function, color $duration $timing-function;

  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
}

.customers__link {
  @include centeredFlex();
  height: 92px;
  border: 1px solid $icon-primary-color;
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.customers__icon {
  fill: currentColor;
}
