$primary-text-color: #212121;
$secondary-text-color: #757575;
$bgd-text-color: #ffffff;
$accent-color: #2196f3;
$icon-fon: #f5f4fa;
$icon-primary-color: #afb1b8;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
