.page-header--border {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.site-nav {
  &__logo {
    color: #000000;
    font-family: $fontFamily;
    font-size: 26px;
    line-height: $lineHeight;
    text-decoration: none;
  }

  &__accent {
    color: $accent-color;
  }
}
.site-nav__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: $fontSize;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $primary-text-color;
  transition: color $duration $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
  .site-nav__button{
    @media screen and (max-width:767px){
    display: none;
  }
.page-header__list {
  // display: none;
}
.nav-conteiner{
  position: relative;
}
.dropdown {
  display: none;
}
